# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Env files
.env

# OS junk
.DS_Store
Thumbs.db

# Editor junk
.vscode/
*.swp

# Coverage reports
coverage/

# Dependency cache
package-lock.json

# Build folders (if used)
dist/
build/

# Misc
.env.local
.env.development.local
.env.test.local
.env.production.local
